<div class="container-fond"></div>

<div class="signup">
  <div class="signup-connect">
    <h1 class="text-center mt-1 mb-5"><%= t 'devise.registrations.new.create', locale: locale %></h1>
    <%= link_to user_facebook_omniauth_authorize_path, method: :post,
      class: "button btn-social btn-facebook" do %>
    <i class="fa fa-facebook"></i><%= t 'devise.shared.links.sign_in_with_provider', provider: 'Facebook', dir: 'auto', locale: locale %>
    <% end -%>
    <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post,
      class: "button btn-social btn-google" do %>
    <i class="fa fa-google"></i><%= t 'devise.shared.links.sign_in_with_provider', provider: 'Google', dir: 'auto', locale: locale %>
    <% end -%>
    <%= link_to user_github_omniauth_authorize_path, method: :post,
      class: "button btn-social btn-github" do %>
    <i class="fa fa-github"></i><%= t 'devise.shared.links.sign_in_with_provider', provider: 'Github', dir: 'auto', locale: locale %>
    <% end -%>
  </div>
  <div class="signup-classic">
<h3 class="text-center"><%= "#{t('.sign_in', locale: locale)}" %></h3>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name, locale: locale), data: {turbo: false}, html: { class: 'form' }) do |f| %>
  <!-- <fieldset class="username"> -->
      <%#= f.input :nickname, label: false,
                required: true,
                autofocus: true,
                input_html: { placeholder: 'Username',
                  autocomplete: "pseudo" }%>
    <!-- </fieldset> -->
    <fieldset class="email">
      <%= f.input :email, label: false,
                required: true,
                autofocus: true,
                input_html: { placeholder: "#{t('fieldset.placeholder.email', locale: locale, dir: 'auto')}",
                  autocomplete: "email" }%>
    </fieldset>
<fieldset class="password">
      <%= f.input :password, label: false,
                required: true,
                input_html: { placeholder: "#{t('fieldset.placeholder.password', number: "6", locale: locale, dir: 'auto')}",
                  autocomplete: "new-password" }%>
    </fieldset>
  <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
  <% end %>
  <div>
    <%= f.submit "#{t('.sign_in', locale: locale)}", class: "croyable" %>
  </div>
<div class="d-flex justify-content-center">
<%= render "devise/shared/links" %>
</div>

<% end %>
</div>
</div>

